In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
df.duplicated().sum()

1081

In [8]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This data is highly imbalanced

0--> Normal transaction

1--> Fradulent transaction

In [13]:
# seperating the data for analysis
legit = df[df['Class'] == 0]
fraud = df[df['Class'] == 1]

In [14]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [15]:
# statistical measure
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
# compare the value for both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# to balance the dataset we will use undersampling technique

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

In [18]:
legit_sample = legit.sample(n=492)

In [20]:
# concatenate two data frames
new_df = pd.concat([legit_sample,fraud])
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
222747,143100.0,1.792591,-1.652724,-0.983779,-0.946911,-0.870912,0.282992,-0.931343,0.100459,-0.095286,...,0.455232,0.903149,-0.052441,0.261051,-0.191556,-0.127230,-0.032337,-0.024112,199.00,0
281812,170435.0,0.154898,0.793697,-2.268859,-1.524812,3.482659,2.932279,0.974009,0.633231,-0.532201,...,0.246239,0.825010,-0.043863,0.729261,-0.695382,-0.274988,0.503199,0.315802,14.97,0
106507,69991.0,-0.188261,-2.204660,0.780374,1.662075,-1.615157,0.640160,-0.085765,0.227477,0.719832,...,0.710490,0.684764,-0.525668,0.115069,-0.084785,-0.281086,-0.015899,0.150149,650.00,0
38725,39515.0,1.506635,-1.119761,0.807869,-1.311273,-1.910865,-0.825611,-1.314914,-0.092820,-1.471013,...,-0.072705,0.175784,0.013710,0.367516,0.314442,-0.100525,0.047346,0.024833,7.80,0
133955,80587.0,-0.095289,0.889171,0.555832,-0.506227,0.727721,-0.758172,0.796982,-0.136775,-0.270983,...,-0.145009,-0.436932,0.117773,-0.511873,-1.158230,-0.211802,0.193188,0.239633,1.98,0

In [22]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [23]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92490.390244,0.022542,-0.050248,0.118247,0.037282,-0.005657,-0.023760,-0.087625,-0.029014,0.002763,...,0.006180,-0.026912,0.041791,-0.017021,0.026238,-0.016679,-0.018000,-0.006837,-0.008379,83.112459
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [24]:
# splitting the data into features and target

X = new_df.drop(columns='Class',axis=1)
y = new_df['Class']

In [56]:
# splitting the data into training and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42,stratify=y)

In [57]:
X_train.shape

(787, 30)

In [58]:
# model training
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [59]:
lr = LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [60]:
y_pred = lr.predict(X_test)

In [61]:
print('Accuracy score ',accuracy_score(y_pred,y_test))

Accuracy score  0.9441624365482234